* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    height: 5000px;
}

a {
    text-decoration: none;
}

/* === dùng chung === */
.content {
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 118px;
    height: 50px;
    left: 365px;
    top: 1673px;
    background: #ffb900;
    border-radius: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #ffffff;
}

/* ======== header ======== */
.header {
    position: sticky;
    top: -28px;
    padding-top: 28px;
    background: #fffcf4;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.header .logo {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #171100;
    position: relative;
}

.header .logo::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: -9px;
    bottom: 9px;
    background-color: orange;
    position: absolute;
}

.header .nav ul {
    display: flex;
}

.header .nav {
    margin-left: auto;
}

.header li a {
    display: inline-block;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
    padding: 8px 21px;
    position: relative;
}

.header li a:hover {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.header li .home::after {
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    position: absolute;
    bottom: 8px;
    left: 21px;
}

.body .btn {
    width: 144px;
    background: #171100;
    border-radius: 24.5px;
}

/* ======= hero ======= */
.hero {
    background: #fffcf4;
}

.hero .body {
    padding-top: 64px;
    display: flex;
}

.hero .media-block img {
    border-radius: 20px;
}

.hero .media-block {
    position: relative;
}

.hero .design{
    position: absolute;
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    bottom: 48px;
    right: -100px;
 padding: 6px 0 28px 28px;
}

.hero .row-2{
    display: flex;
    align-items: center;
   margin-top: 22px;
    
   
}

.design .row-2 .column{
    margin-left: 16px;
}

.design .shang {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.design .xia{
    font-weight: 600;
font-size: 1.8rem;
line-height: 1.67;
color: #171100;
}

.content-block {
    width: 470px;
    margin-left: auto;
    margin-top: 64px;
}

.hero h1 {
    font-family: "Sen";
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .action {
    display: flex;
    margin-top: 38px;
}

.hero .btn {
    min-width: 180px;
    background: #ffb900;
    border-radius: 32px;
}

.hero .video {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.hero .video a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-left: 14px;
}

.hero .recent p {
    margin-top: 48px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .row {
    margin-top: 8px;
    display: flex;
    gap: 28px;
}

.hero .row .shu-ju {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero .row .bei-zhu {
    margin-left: 5px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

/* ============ Popular ============= */
.popular{
    margin-top: 200px;
  }
  
  .popular-top{
    display: flex;
    align-items: center;
  }
  
  .popular h2{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26; 
    letter-spacing: -0.02em;
    color: #171100;
  }
  
  .popular .title .desc{
    margin-top: 16px;
    font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5F5B53;
  width: 456px;
  }
  
  .popular-top .icon{
    margin-left: auto;
    display: flex;
    gap: 18px
    
  }
  
  .popular-top .fa-solid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
  height: 40px;
  border: 1px solid #FFB900;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 999px;
  }
  
  .fa-angle-left{
    background: #FFB900;
  }
  
  /* popular-bottom */
  .popular-bottom{
    display: flex;
    gap: 30px;
    margin-top: 55px;
    
  }
  
  .popular-bottom .box{
    width: 370px;
    background: #FFFFFF;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
  }
  
  .popular-bottom .box img{
    width: 370px;
  height: 278px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  }
  
  .popular-bottom .xing{
    padding: 16px 22px 22px;
  }
  
  .popular-bottom .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
  
  .popular-bottom .sub-title{
    font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
  
  }
  
  .xing .row .icon strong{
    font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #FEA31B;
  margin-left: 6px;
  
  }
  
  .popular-bottom .desc{
    margin-top: 6px;
    font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #5F5B53;
  }
  
  .popular-bottom .btn{
    margin-top: 12px;
    
    background: #171100;
  }
  
  .popular-bottom .btn:hover{
    background: #FFB900;
  }
  
  .xing .row .shu-ju{
    font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #171100;
  }
  /* ============ comment ============== */
  .comment{
    margin-top: 200px;
    background: #2E2100;
  }
  
  .comment .body{
  padding: 96px 0;
  display: flex;
  justify-content: space-between;
  }
  
  .comment img{
    width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 999px;
  }
  
  .comment .name{
    margin-top: 18px;
    font-family: 'Sen',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.42;
  color: #F7F7F7;
  }
  
  .comment .desc{
    margin-top: 4px;
    font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.86;
  color: #BFBCB3;
  }
  
  .comment .row{
    display: flex;
    gap: 6px
  }
  
  .comment .body .dian{
    margin-top: 28px;
    width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
  }
  
  .comment .body .dian:nth-child(2){
    background: #FFB900;
  }
  
  .comment .sheng{
    width: 63.24%;
    position: relative;
  }
  
  .comment .gan-shou{
    padding-top: 28px;
    font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #FFFFFF;
  
  }
  
  .comment .sheng .fa-solid{
    position: absolute;
    left: -35px;
    top: 20px
  }
  
  /* =========== jie-shao ============ */
  .jie-shao{
    margin-top: 200px;
  }
  
  .jie-shao .zuo .tu-pian{
    width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
  }
  
  .learner-top{
    display: flex;
  }






















  